<div class="jumbotron" style="background-color:#d9edf7">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2 class="display-4">fitzroy</h2>
        <hr class="my-4">
        <p>overview</p>
      </div>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="d-flex flex-column flex-md-row">
        <% if (currentUser && (currentUser.admin || currentUser.userType === "catchPlus")) { %>
          <a href="/students/fitzroy/new" class="btn btn-primary my-2 mx-2">Sign up a new student</a>
        <% } %>
        <% if (currentUser && currentUser.admin) { %>
          <a href="/students/fitzroy/archived" class="btn btn-primary my-2 mx-2">Archived students</a> 
        <% } %>
      </div>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <% if (allFitzroys.length > 0) { %>
        <script>
          document.addEventListener('DOMContentLoaded', function () {
            var all = <%- JSON.stringify(allFitzroys) %>
            var allResults = document.getElementById('all-results')
            var filter = document.getElementById('filter')
            var searchBar = document.getElementById('search-bar')
            var result
            if (filter) {
              filter.addEventListener('change', function () {
                searchBar.value = null
                if (this.value === 'all') {
                  result = all
                } else if (this.value === 'oneOnOne') {
                  result = all.filter(function (fitzroy) {
                    return fitzroy.oneOnOne
                  })
                } else if (this.value === 'intervention') {
                  result = all.filter(function (fitzroy) {
                    return fitzroy.intervention
                  })
                }
                allResults.innerHTML = ''
                result.forEach(function (fitzroy) {
                  var a = document.createElement('a')
                  a.classList.add('list-group-item', 'list-group-item-action')
                  a.href = '/students/fitzroy/' + fitzroy._id
                  a.appendChild(document.createTextNode(fitzroy.name))
                  allResults.appendChild(a)
                })
              })
            }
            if (searchBar) {
              searchBar.addEventListener('keyup', function () {
                filter.value = 'all'
                var re = new RegExp("\\w*" + this.value + "\\w*", "i")
                result = all.filter(function (fitzroy) {
                  return re.test(fitzroy.name)
                })
                allResults.innerHTML = ''
                result.forEach(function (fitzroy) {
                  var a = document.createElement('a')
                  a.classList.add('list-group-item', 'list-group-item-action')
                  a.href = '/students/fitzroy/' + fitzroy._id
                  a.appendChild(document.createTextNode(fitzroy.name))
                  allResults.appendChild(a)
                })
              })
            }
          })
        </script>
        <small class="form-text text-muted">Filter students</small>
        <select id="filter" class="custom-select mb-2">
          <option value="all" selected>All students</option>
          <% if (allFitzroys.some(function (fitzroy) {
            return fitzroy.oneOnOne
          })) { %>
            <option value="oneOnOne">One-on-one attention</option>
          <% } %>
          <% if (allFitzroys.some(function (fitzroy) {
            return fitzroy.intervention
          })) { %>
            <option value="intervention">Intervention owing to absenteeism</option>
          <% } %>
        </select>
        <small class="form-text text-muted">Or search by name</small>
        <input id="search-bar" class="form-control mb-5" type="text" placeholder="Enter student's name"></input>
        <div id="all-results" class="list-group">
          <% allFitzroys.forEach(function (fitzroy) { %>
            <a class="list-group-item list-group-item-action" href="/students/fitzroy/<%= fitzroy.id %>">
              <span class="d-inline-lock text-truncate">
                <%= fitzroy.name %>
              </span>
            </a>
          <% }) %>
        </div>
      <% } else { %>
        No students yet
      <% } %>
    </div>
  </div>
</div>
