<div class="jumbotron" style="background-color:#d9edf7">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2 class="display-4">welcome</h2><br>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <form action="/auth/tutor/signup" method="POST" class="mb-5">
        <div id="email-form-group" class="form-group required-group">
          <label for="email">Email</label>
          <input id="email" class="form-control" type="email" name="email" placeholder="name@email.com">
          <small id="emailRegexMessage" class="form-text form-control-feedback"></small>
        </div>
        <div id="name-form-group" class="form-group required-group">
          <label for="name">Name</label>
          <input id="name" class="form-control" type="text" name="name" placeholder="Your name">
          <small id="nameLengthMessage" class="form-text form-control-feedback"></small>
        </div>
        <div id="phone-form-group" class="form-group required-group">
          <label for="phone" class="mb-0">Phone</label>
          <small class="form-text text-muted mt-0 mb-2">+65 | Singapore</small>
          <input id="phone" class="form-control" type="text" name="phone" placeholder="Your contact number">
          <small id="phoneLengthMessage" class="form-text form-control-feedback"></small>
        </div>
        <div class="form-group required-group">
          <label for="gender">Gender</label><br>
          <select class="custom-select" id="gender" name="gender">
            <option value="" selected disabled hidden>Please select</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <div class="form-group required-group">
          <label for="age">Age</label><br>
          <select class="custom-select" id="age" name="age">
            <option value="" selected disabled hidden>Please select</option>
            <option value="16 to 25">16 to 25</option>
            <option value="26 to 35">26 to 35</option>
            <option value="36 to 45">36 to 45</option>
            <option value="46 to 55">46 to 55</option>
            <option value="56 to 65">56 to 65</option>
            <option value="above 65">Above 65</option>
          </select>
        </div>
        <div id="experience-form-group" class="form-group">
          <label for="experience" class="mb-0">Experience with kids</label><br>
          <textarea id="experience" class="form-control" name="experience" rows="5" placeholder="Please leave this space blank if you have none"></textarea>
          <small id="experienceMessage" class="form-text form-control-feedback"></small>
        </div>
        <div class="form-group required-group">
          <label for="startDate" class="mb-0">When did you join ReadAble?</label><br>
          <small class="form-text text-muted mt-0 mb-2">day / month / year</small>
          <input class="form-control" id="startDate" type="date" name="startDate" value="<%= new Date().getFullYear() %>-<%= (new Date().getMonth()+1).toString().length < 2 ? '0' + (new Date().getMonth()+1).toString() : (new Date().getMonth()+1).toString() %>-<%= (new Date().getDate()).toString().length < 2 ? '0' + (new Date().getDate()).toString() : (new Date().getDate()).toString() %>">
        </div>
        <div id="password-form-group" class="form-group required-group">
          <label for="password" class="mb-0">Your ReadAbly password</label><br>
          <small class="form-text text-muted mt-0 mb-2">Between 8 and 30 characters</small>
          <input id="passwordDraft" class="form-control" type="password" name="passwordDraft" placeholder="**********">
          <small id="passwordDescription" class="form-text text-muted mt-1 mb-2" style="display: none; visibility: hidden;">Please confirm</small>
          <input id="password" class="form-control" type="password" name="password" placeholder="**********" style="display: none; visibility: hidden;">
          <small id="passwordMessage" class="form-text form-control-feedback"></small>
        </div>
        <div class="form-group">
          <label for="adminPasswordAttempt" class="mb-0">Are you an administrator?</label><br>
          <small class="form-text text-muted mt-0 mb-2">Enter the passphrase you were given. If not, skip this field</small>
          <input class="form-control" id="adminPasswordAttempt" type="password" name="adminPasswordAttempt" placeholder="**********">
        </div>
        <div class="form-group required-group">
          <label for="tutorSignUpAttempt" class="mb-0">Finally, enter your secret signup passphrase</label><br>
          <small class="form-text text-muted mt-0 mb-2">Enter the passphrase you were given</small>
          <input class="form-control" id="tutorSignUpAttempt" type="password" name="tutorSignUpAttempt" placeholder="**********">
        </div><br>
        <button id="submitButton" class="btn btn-primary float-right" type="submit" disabled>Submit</button>
      </form>
    </div>
  </div>
</div>
<%
  var javaScriptFiles = [
    'emailRegexCheck',
    'nameLengthCheck',
    'phoneRegexCheck',
    'expLengthCheck',
    'passwordLengthCheckAndShowConfirm',
    'passwordMatch',
    'allSignUpChecksToSubmit'
  ]
  javaScriptFiles.forEach(function (file) {
%>
<script type="text/javascript" src="/client_side_helpers/<%= file %>.js"></script>
<%  })  %>