<div class="jumbotron" style="background-color:#d9edf7">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2 class="display-4">pre-school</h2>
        <hr class="my-4">
        <p>overview</p>
      </div>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="d-flex flex-column flex-md-row">
        <a href="/students/pre-school/new" class="btn btn-primary my-2 mx-2">Sign up a new student</a>
        <%
          var isAdmin = ""
          if (currentUser && !currentUser.admin) {
            isAdmin = "display: none; visibility: hidden;"
          }
        %>
        <a href="/students/pre-school/archived" class="btn btn-primary my-2 mx-2" style="<%= isAdmin %>">Archived students</a>
      </div>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          var filter = document.getElementById('filter')
          var filterResult = document.getElementById('filter-result')
          var all = <%- JSON.stringify(allPreSchools) %>
          var result
          if (document.getElementById('filter')) {
            filter.addEventListener('change', function () {
              if (this.value === 'all') {
                result = all
              } else if (this.value === 'oneOnOne') {
                result = all.filter(function (preSchool) {
                  return preSchool.oneOnOne
                })
              } else if (this.value === 'intervention') {
                result = all.filter(function(preSchool) {
                  return preSchool.intervention
                })
              }
              filterResult.innerHTML = ''
              result.forEach(function (preSchool) {
                var a = document.createElement('a')
                a.classList.add('list-group-item', 'list-group-item-action')
                a.href = '/students/pre-school/' + preSchool._id
                a.appendChild(document.createTextNode(preSchool.name))
                filterResult.appendChild(a)
              })
            })
          }
        })
      </script>
      <% if (allPreSchools.length > 0) { %>
      <select id="filter" class="custom-select mb-2">
        <option value="all" selected>All students</option>
        <% if (allPreSchools.some(function (preSchool) {
          return preSchool.oneOnOne
        })) { %>
          <option value="oneOnOne">One-on-one attention</option>
        <% } %>
        <% if (allPreSchools.some(function (preSchool) {
          return preSchool.intervention
        })) { %>
          <option value="intervention">Intervention owing to absenteeism</option>
        <% } %>
      </select>
      <% } %>
      <div id="filter-result" class="list-group">
      <% if (allPreSchools.length > 0) { %>
        <% allPreSchools.forEach(function (preSchool) { %>
          <a class="list-group-item list-group-item-action" href="/students/pre-school/<%= preSchool.id %>">
            <span class="d-inline-block text-truncate">
              <%= preSchool.name %>
            </span>
          </a>
        <% }) %>
      <% } %>
      </div>
    </div>
  </div>
</div>
