<% if (alerts.error) { %>
  <% alerts.error.forEach(function(msg) { %>
    <div class="alert alert-danger mb-0">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 offset-sm-3">
            <%= msg %>
          </div>
        </div>
      </div>
    </div>
  <% }); %>
<% } %>
<% if (alerts.success) { %>
  <% alerts.success.forEach(function(msg) { %>
    <div class="alert alert-success mb-0">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 offset-sm-3">
            <%= msg %>
          </div>
        </div>
      </div>
    </div>
  <% }); %>
<% } %>
