<div class="jumbotron" style="background-color:#d9edf7">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <div class="container">
          <h2 class="display-4">ReadAble</h2><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <hr>
          <p class="lead">group sorting</p>
        </div>
      </div>
    </div>
  </div>
</div>