<div class="jumbotron" style="background-color:#d9edf7">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <div class="container">
          <h2 class="display-4">ReadAbly</h2><br>
          <hr>
          <p class="lead">
            Your <a href="https://www.facebook.com/ReadAbleSG/" target="_blank" rel="noopener noreferrer">ReadAble</a> internal application
          </p>
        </div>
      </div>
    </div>
  </div>
</div>