<div class="jumbotron" style="background-color:#d9edf7">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2 class="display-4">tutors</h2>
        <hr class="my-4">
        <p>overview</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="list-group">
      <% if (allTutors.length > 0) { %>
        <% allTutors.forEach(function (tutor) { %>
          <a class="list-group-item list-group-item-action" href="/tutors/<%= tutor.id %>"><%= tutor.name %></a>
        <% }) %>
      <% } %>
      </div>
    </div>
  </div>
</div>