<div class="jumbotron" style="background-color:#d9edf7">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2 class="display-4">reset your password</h2><br>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <form action="/auth/catchPlus/reset/<%= chosenCatchPlus.resetPasswordToken %>?_method=PUT" method="POST" class="mb-5">
        <div id="password-form-group" class="form-group required-group">
          <label for="password" class="mb-0">Your new ReadAbly password</label>
          <small class="form-text text-muted mt-0 mb-2">Between 8 and 30 characters</small>
          <input id="passwordDraft" class="form-control" type="password" name="passwordDraft" placeholder="**********">
          <small id="passwordDescription" class="form-text text-muted mt-1 mb-2" style="display: none; visibility: hidden;">Please confirm</small>
          <input id="password" class="form-control" type="password" name="password" placeholder="**********" style="display: none; visibility: hidden;">
          <small id="passwordMessage" class="form-text form-control-feedback"></small>
        </div><br>
        <button id="submitButton" class="btn btn-primary float-right" type="submit" style="cursor:pointer;">Reset</button>
      </form>
    </div>
  </div>
</div>

<%
  var javaScriptFiles = [
    'passwordLengthCheckAndShowConfirm',
    'passwordMatch',
    'allResetChecksToSubmit'
  ]
  javaScriptFiles.forEach(function (file) {
%>
<script type="text/javascript" src="/client_side_helpers/<%= file %>.js"></script>
<%  })  %>