<div class="jumbotron" style="background-color:#d9edf7">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2 class="display-4">welcome</h2><br>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <form action="/auth/catchPlus/signup" method="POST" class="mb-5">
        <div id="email-form-group" class="form-group">
          <label for="email">Email</label>
          <input id="email" class="form-control" type="email" name="email" placeholder="name@email.com">
          <small id="emailRegexMessage" class="form-text form-control-feedback"></small>
        </div>
        <div id="name-form-group" class="form-group">
          <label for="name">Name</label>
          <input id="name" class="form-control" type="text" name="name" placeholder="Your name">
          <small id="nameLengthMessage" class="form-text form-control-feedback"></small>
        </div>
        <div id="phone-form-group" class="form-group">
          <label for="phone" class="mb-0">Phone</label>
          <small class="form-text text-muted mt-0 mb-2">+65 | Singapore</small>
          <input id="phone" class="form-control" type="text" name="phone" placeholder="Your contact number">
          <small id="phoneLengthMessage" class="form-text form-control-feedback"></small>
        </div>
        <div id="password-form-group" class="form-group">
          <label for="password" class="mb-0">Your password</label>
          <small class="form-text text-muted mt-0 mb-2">Between 8 and 30 characters</small>
          <input id="passwordDraft" class="form-control" type="password" name="passwordDraft" placeholder="**********">
          <small class="form-text text-muted mt-1 mb-2">Please confirm</small>
          <input id="password" class="form-control" type="password" name="password" placeholder="**********">
          <small id="passwordMessage" class="form-text form-control-feedback"></small>
        </div><br>
        <button id="submitButton" class="btn btn-primary float-right" type="submit" style="cursor:pointer;">Submit</button>
      </form>
    </div>
  </div>
</div>
<%
  var javaScriptFiles = [
    'emailRegexCheck',
    'nameLengthCheck',
    'phoneLengthCheck',
    'passwordLengthCheck',
    'passwordMatch'
  ]
  javaScriptFiles.forEach(function (file) {
%>
<script type="text/javascript" src="/javascript/<%= file %>.js"></script>
<%  })  %>